@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@ViewBag.Teste - Número: @ViewBag.TesteInt</h2>
    <p>Aprenda Sobre <a href="https://docs.microsoft.com/aspnet/core">Criação de apricativo web com ASP.NET Core</a>.</p>
</div>
